body{
  background-image: url(cinema.jpg);
  background-size: cover;
}

.head {
    background-color: black;
    margin-top: 100px;
    text-align: center;
    width
    
}

.containertext {
    width: 500px;
}

.container {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: maroon;
    width: 10%;
    border-radius: 5px;
    
}